<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p>
This demo website will guide you through setting up a client certificate and
authenticating with IndieCert.
    </p>
    <p>
You will go through the following steps:
    </p>

    <ol>
        <li>Attempting to access a protected page;</li>
        <li>Enter your domain name;</li>
        <li>Enroll with IndieCert;</li>
        <li>Authenticate to IndieCert;</li>
        <li>Approve this application;</li>
        <li>Go to the protected page</li>
    </ol>

    <p>
        To start, visited the <a href="secret">protected</a> page!
    </p>

    {% include 'footer.twig' %}
</body>
</html>
