<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p>
        Visit the <a href="secret">secret</a> page!
    </p>

    {% include 'footer.twig' %}
</body>
</html>
