<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p>
        Hello <strong>{{ userId|e }}</strong>!
    </p>

    <form method="post" action="_auth/indieauth/logout">
        <fieldset>
            <legend>Logout</legend>
<!--            <input type="hidden" name="redirect_to" value="">-->
            <button type="submit">Logout</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
