<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p>
        You are successfully authenticated as <code>{{ userId|e }}</code>! 
    </p>
    <p>
        All done! Try out some other <a href="https://indiewebcamp.com/distributed-indieauth#Sites_that_support_distributed_IndieAuth">services</a>!
    </p>

    <form method="post" action="_auth/indieauth/logout">
        <fieldset>
            <legend>Logout</legend>
            <button type="submit">Logout</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
